<div class="container-fluid">
  <mat-tab-group>
    <mat-tab label="Music Videos">
      <div class="row">
        <div class="col-6 my-3" *ngFor="let m of musicVideos">
          <mat-card class="example-card">
            <mat-card-header class="d-flex justify-content-between">

              <mat-card-title>{{m.trackName}}</mat-card-title>
              <mat-card-subtitle>{{m.artistName}}</mat-card-subtitle>

              <div>{{m.trackPrice | currency:'CAD'}}</div>
            </mat-card-header>

            <mat-card-content>
              <video width="100%" controls>
                <source [src]="m.previewUrl" type="video/mp4">
              </video>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>BUY</button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
    </mat-tab>

    <mat-tab label="Movies">
      <div class="row">
        <div class="col-6 my-3" *ngFor="let m of movies">
          <mat-card class="example-card">
            <mat-card-header class="d-flex justify-content-between">

              <mat-card-title>{{m.trackName}}</mat-card-title>
              <mat-card-subtitle>{{m.artistName}}</mat-card-subtitle>

              <div>{{m.trackPrice | currency:'CAD'}}</div>
            </mat-card-header>

            <mat-card-content>
              <video width="100%" controls>
                <source [src]="m.previewUrl" type="video/mp4">
              </video>
              <p>{{m.longDescription}}</p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>BUY</button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>

</div>

